.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  width: 50%;
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

.container form input {
  border: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-radius: 0;
  display: block;
  margin: 0 auto;
}

.btn Button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 100%;
  margin-top: 20px;
}
