.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.container form {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  width: 50%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

.container form input {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 7px;
  border-bottom: 2px solid #000;
  border-radius: 0;
  margin: 10px auto;
  transition: border-color 0.3s ease-in-out;
}

.container form input:focus {
  border-color: #007bff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ff8700;
  color: white;
  width: 50%;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.btn button:hover {
  background-color: #333;
}
