.container {
  width: 100%;
  height: 80vh;
  /* position: relative; */
}

.container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.link {
  color: white;
  text-decoration: none;
}
.search {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 5%;
  min-height: 100%;
  transform: translate(50%, 40%);
}

.input {
  display: flex;
}

.submit {
  width: 100%;
  top: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit Button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 15px;
}

.btn {
  background-color: #ff8700;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bolder;
  transition-duration: 0.5s;
}
btn:hover {
  background-color: #6366f1;
}
