.info-page {
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.bus-card-info {
  margin-right: 0.75rem;
  flex-basis: 3;
}
.travel-details {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: left;
}
