.bus-seats {
  width: 100%;

  min-height: 200px;
  padding: 0 20px;
  border-top: 2px solid grey;
}
.price {
  display: flex;
  margin-top: 5px;
}
.main-container {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.bus-seat-flex {
  width: 60%;
}
