.select {
  display: block;
  padding: 25px;
}
.heading {
  margin: 10px 0;
}
.seat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  align-items: baseline;
  gap: 40px;
}
.box {
  display: flex;
  align-items: baseline;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.87);
  gap: 10px;
}
.selected {
  display: inherit;
  align-items: center;
  display: block;
}
.fill {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.selectedSeats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.right {
  /* background-color: aqua; */
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  width: 20rem;
}

.right h3,
.right h4 {
  margin-top: 13px;
}

.right p {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: rgb(109, 108, 108);
}
