.booking-container {
  margin-left: 16rem;
  margin-right: 16rem;
  border-radius: 0.375rem;
  padding: 10px;
  border-width: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon-container {
  margin-top: 1rem;
  font-size: 3.75rem;
  line-height: 1;
  color: #1fc84d;
}
.icon {
  color: green;
  border: 3px solid;
  border-radius: 50%;
}
.confirmation-text {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}
.details-container {
  display: flex;
  justify-content: center;
  color: grey;
}
.title-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: right;
}
.title {
  margin-bottom: 0.5rem;
}
.value-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
}
.busCardInfo-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.btn {
  background-color: #ff8700;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bolder;
  transition-duration: 0.5s;
}
btn:hover {
  background-color: #6366f1;
}
.link {
  color: #fff;
  text-decoration: none;
}
