.fare-card {
  border: 2px solid black;
  border-radius: 15px;
  height: 30vh;
  margin-left: 0.75rem;
  flex-basis: 25%;
}
.fare-details {
  padding: 1rem;
  border-radius: 0.375rem;
  border-width: 2px;
}
.fare-title {
  font-weight: 700;
  text-align: left;
}
.container {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.fare {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.price {
  font-weight: 700;
}
.btn {
  background-color: #ff8700;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
}
.link {
  color: #fff;
  text-decoration: none;
}
