.seat-section {
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.87);
  border-radius: 15px;
  width: 600px;
  padding: 15px;
  margin: 15px;
}
.seat-section h2 {
  font-size: larger;
  padding: 15px 0;
  margin-top: 1.25rem;
}
.seats {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.seat-clicked {
  background-color: blue;
}
.seats div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0px;

  width: 70px;
}
.seats span {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(154, 154, 154);
  border-radius: 15px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  width: 70px;
}
.seats span.selected,
.seats div.selected {
  background-color: yellow; /* Change this to the desired color */
  border-color: green; /* Change this to the desired color */
}

.down-seat {
  grid-column-start: 3;
}

.seating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 10px;
  height: 5px;
}
