.container {
  /* background-color: aqua; */
  margin: auto;
  padding: 20px 30px;
  width: 300px;
}
.heading {
  /* background-color: blue; */
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0 0 20px;
  color: orange;
}
.heading h4 {
  cursor: pointer;
  transition: 0.5s;
}
.heading h4:hover {
  color: rgb(203, 240, 68);
}
.filter {
  /* background-color: aqua; */
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}
label {
  margin-left: 5%;
}
