.heading {
  background-color: beige;
  height: 50vh;
}
.heading h1 {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.cards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.87);
}
.image {
  position: relative;
  margin-bottom: 20px;
}
.image img {
  /* background-color: aqua; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.info {
  text-align: center;
}
.name {
  margin-bottom: 10px;
}
h6 {
  margin-top: -5px;
}
.review {
  font-size: 14px;
}
